<div class="container border border-primary">
  <br>
  <form [hidden] ='flag' #RegistrationForm="ngForm" (submit) = "onSubmitLogin()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" required minlength="4">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" required minlength="4">
      </div>
    <div class="form-group">
      <label for="pass">Password</label>
      <input type="text" class="form-control" name="pass" required minlength="4">
    </div>
    <div class="form-group">
      <label for="c_pass">Confirm password</label>
      <input type="text" class="form-control" name="c_pass" required minlength="4">
    </div>
    <button [disabled] ='!RegistrationForm.valid'>Submit</button>
  </form>
  <form [hidden] ='!flag' #LoginForm="ngForm" (submit) = "onSubmitLogin()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" required>
      </div>
      <div class="form-group">
          <label for="email">Password</label>
          <input type="text" class="form-control" name="email" required>
        </div>
      <button [disabled] ='!LoginForm.valid'>Login</button>
    </form>
    <label class="switch">
        Already Registered?
        <input type="checkbox" name="user_checkBox" [(ngModel)]="flag">
    </label>
</div>
