<div class="container border border-primary">
  <form [hidden] ='flag' (submit)="onSubmit(RegForm.value)" #RegForm='ngForm'>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="username" [(ngModel)]='user.username' #username="ngModel" required minlength="3">
      <div class="red" *ngIf="username.errors && username.dirty">*Required! Min length is 3.</div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]='user.email' #email="ngModel" required minlength="6">
        <div class="red" *ngIf="email.errors && email.dirty">*Required! Min length is 6.</div>
      </div>
    <div class="form-group">
      <label for="pass">Password</label>
      <input type="text" class="form-control" name="pass" [(ngModel)]='user.password' #pass="ngModel" required minlength="6">
      <div class="red" *ngIf="pass.errors && pass.dirty">*Required! Min length is 6.</div>
    </div>
    <div class="form-group">
      <label for="c_pass">Confirm password</label>
      <input type="text" class="form-control" name="c_pass" [(ngModel)]="user.c_pass" #cpass="ngModel" required minlength="6">
      <div class="red" *ngIf="cpass.errors && cpass.dirty">*Required! Min length is 6.</div>
      <div class="red" *ngIf="cpass.value != pass.value">*The password doesn't match the confirm password!</div>
    </div>
    <button [disabled]='!RegForm.valid'>Submit</button>
  </form>
  <form [hidden] ='!flag' #loginForm='ngForm' (submit) = "onSubmitLogin(loginForm.value)">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="username"  [(ngModel)]='user.username' required minlength="3">
      </div>
      <div class="form-group">
          <label for="pass">Password</label>
          <input type="text" class="form-control" name="pass" [(ngModel)]='user.password' required minlength="6">
        </div>
      <button [disabled]="!loginForm.valid">Login</button>
    </form>
    <label class="switch">
        Already Registered?
        <input type="checkbox" name="user_checkBox" [(ngModel)]="flag">
    </label>
</div>

<div *ngIf="errors.length">
  <ul class="alert alert-danger">
    <li *ngFor="let error of errors">{{ error }}</li>
  </ul>
</div>
